.list-item-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
    font-family: cursive;
}

.list-items
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    height: 150px;
    border-radius: 20px;
    width: 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.list-item-card
{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    align-content: center;
    font-size: 20px;
}

.h-primary
{
    font-size: 1.8rem;
}

.list-item-cname, .list-item-contact, .list-item-city, .list-item-zipcode, .list-item-button
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.btn-detail
{
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    color: azure;
    background-color: black;
    cursor: pointer;
}