.list-item-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
    font-family: cursive;
}

.list-items
{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: #ECF9FF;
    /* background-color: antiquewhite; */
    height: 130px;
    border-radius: 20px;
    width: 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.list-item-card
{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    align-content: center;
    font-size: 20px;
}

.h-primary
{
    font-size: 1.8rem;
}

.list-item-cname, .list-item-contact, .list-item-city, .list-item-zipcode, .list-item-button
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.btn-detail
{
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    color: azure;
    background-color: black;
    cursor: pointer;
}


.item-details-expand-card
{
    display: none;
    position: relative;
    top: -100%;
    margin: 20px 200px;
    border-radius: 20px;
    border: 2px solid black;
    background-color: #F5F5F5;
    
}

.item-details-expand
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 10px auto;
}

.list-items.expand
{
    height: 500px;
    /* transition: 0.3s ease-in; */
}

.item-details-expand-card.expand
{
    display: block;
    /* transition: 0.10s ease-in-out; */
    top: 3%;
}