.list-item-container
{
    /* background-color: rgba(0, 255, 0, 0.386); */
}

.list-item
{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    background-color: rgb(208, 172, 172);
    height: fit-content;
    margin: 10px 20px;
    border-radius: 20px;
}

.h-primary
{
    font-size: 1.5rem;
}